<!doctype html>
<title>Blackjack</title>
<h1>Welcome to Crappy BlackJack</h1>
<h5>by Benjie</h5>
{% if draw_house %}
  {% if draw_win == 'house' %}
    <h2>Player Draws: {{ draw_user }}</h2>
    <h2>House wins with {{ draw_win_card }}!!</h2>
  {% else %}
     <h2>House Draws: {{ draw_house }}</h2>
     <h2>Player wins with {{draw_win_card}}!! </h2>
  {% endif %}

{% else %}
  <h1>No Draw available. Refresh Page</h1>
{% endif %}


<button onClick="window.location.reload();">Draw Again</button>
<h5>If house and player card are of same value, house wins!
We can only play with low Ace btw</h5>
</html>
